{% extends "base2.html" %}
{% block title %}Tienda{% endblock %}
{% block contenido %}
<div class="container">
    <div class="row">
        <h3>Categorías</h3>
        <div class="list-group">
            <table class="table table-bordered">
                <tr>
                <tr>
                    <th>Nombre</th>
                    {% if current_user.is_authenticated and current_user.is_admin() %}
                    <th>Editar</th>
                    <th>Borrar</th>
                    {% endif %}
                </tr>
                {% for cat in categorias %}
                <tr>
                    <td>{{cat.nombre}}</td>
                    {% if current_user.is_authenticated and current_user.is_admin() %}
                    <td>
                        <a href="{{ url_for('categorias_edit', id=cat.id) }}">
                            <span class="bi bi-pencil"></span> Editar
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('categorias_delete', id=cat.id) }}">
                            <span class="bi bi-trash"></span> Borrar
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}